@media(max-width:1200px) {
    .brands {
        position: absolute;
        bottom: -7.5rem;
        left: 0;
        padding: 3rem 5rem;
        width: 100%;
    }

    .strategy__info {
        margin-top: 25rem;
    }
}

@media(max-width:1110px) {
    .information__item {
        gap: 5rem;
    }
    .information__card {
        bottom: -21rem;
    }

    .information__btn {
        margin: 0;
    }

    .information__item {
        margin-bottom: 30rem;
    }

    .footer__information {
        gap: 4rem;
    }
}

@media(max-width:1000px) {
    .brands {
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .brand__img {
        /* width: 20rem; */
    }

    .information__title {
        gap: 2rem;
    }

    .awesome__text {
        max-width: 40rem;
    }
    .strategy__info {
        gap: 5rem;
    }

    .item__right {
    }

    .item__img {
        max-width: 100%;
        padding: 0;
    }

    .information__card {
        max-width: 100%;
        bottom: -25rem;
        left: 0;
    }

    .information__card-reverse {
        left: 25rem;
        bottom: -205rem;
        max-width: 60rem;
    }


    .item__right-reverse {
        padding: 0;
    }

    .deation__items {
        display: block;
        column-count: 2;
    }
    .deation__item {
        max-width: 30rem;
        margin: 0 auto;
    }

    .deation__title-info {
        max-width: 100%;
    }

    .deation__text {
        margin-bottom: 2rem;
    }

    .footer__information {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .footer__information-right {
        margin: 0;
    }

}

@media(max-width:790px) {
    .header {
        padding-left: 3rem;
    }

    h1 {
        font-size: 5rem;
    }

    .brands {
        padding: 1rem 2rem;

    }
    .text__italic {
        font-size: 2rem;
    }

    .people__img-1 {
        max-width: 8rem;
    }

    .item__right-reverse {
        max-width: 100%;
        padding: 0;
    }

    /* .item__img {
        max-width: 32.5rem;
    } */

    .information__item {
        gap: 2rem;
    }

    .information__card {
        height: 0;
        bottom: -15rem;
    }

    .footer__card {
        padding: 1rem 2rem 7rem 4rem;
    }

    .footer__card-title {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .adress__items {
        padding-top: 18rem;
    }

    .footer__information {
        margin-top: 5rem;
        align-items: baseline;
    }
}

@media(max-width:670px) {

    .information__title {
        gap: 8rem;
    }
    .text__italic {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .strategy__info {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .strategy__pepole {
        font-size: 1.4rem;
    }

    .people__img-1 {
        max-width: 7rem;
    }

    .information__title {
        flex-direction: column;
        gap: 2rem;
    }

    .information__items {
        margin-top: 3rem;
    }

    .information__item   {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .information__item-center {
        flex-direction: column-reverse;
    }



    .item__right {
        padding: 2rem;
        transform: translateY(-25rem);
        background: #fff;
        border-radius: 1.5rem;
        
    }

    .item__left-center {
        padding: 2rem;
        transform: translateY(-25rem);
        background: #fff;
        border-radius: 1.5rem;}

    .information__card {
        max-width: 100%;
        bottom: 11rem;
        left: 2rem;
        margin-right: 2rem;
    }

}

@media(max-width:570px) {
    .logo {
        max-width: 15rem;
    }

    .header__items--active {
        width: 100%;
        right: 0;
        align-items: center;
        font-size: 2rem;
        padding: 5rem 5rem;
    }
    
    h1 {
        font-size: 4rem;
        line-height: 5.2rem;
    }

    .information__title {
        flex-direction: column;
        gap: 2rem;
    }

    .awesome__text {
        padding-left: 2rem;
        margin-left: 2rem;
    }
    .strategy__info {
        flex-direction: column;
        gap: 1rem;
    }

    .strategy__text {
        margin-bottom: 2rem;
    }

    .strategy__right-text {
        max-width: 45rem;
    }

    .deation__items {
        column-count: 1;
        margin-bottom: 7rem;
    }

    .deation__item {
        max-width: 100%;
        padding: 0 3rem;
        margin-bottom: 3rem;
    }

    .footer__card-title {
        font-size: 4rem;
        line-height: 5rem;
    }

    .footer__card {
        padding-bottom: 3rem;
    }

    .adress__items {
        padding-top: 12rem;
        flex-direction: column;
        gap: 1rem;
    }

    .adresses {
        margin-bottom: 2rem;
    }

    .footer__information {
        font-size: 1.3rem;
    }

    .footer__end {
        flex-direction: column;
        align-items: start;
    }

    .footer__item-end {
        text-align: start;
    }

    .footer__logo {
        margin-bottom: 2rem;
    }




    
}

@media(max-width:490px) {

    .nav {
        padding-top: 2.5rem;
        margin: 0 1rem 3rem 0;
    }

    .header-info {
    }

    .brands {
        bottom: -15rem;
    }

    .strategy__info {
        margin-top: 40rem;
    }

    .strategy__title {
        font-size: 3.3rem;
        line-height: 4rem;
    }
    
    .information__item {
        gap: 15rem;
        margin-bottom: 8rem;
    }
    .item__right{
        transform: translateY(-22rem);
        border-radius: 0;
    }

    .item__left-center {
        border-radius: 0;
    }



    .information__card {
        bottom: 7rem;
 
    }

    .information__card-reverse {
        bottom: 14rem;
    }



    .footer__information {
        display: block;
        font-size: 1.7rem;
        text-align: center;
        line-height: 1rem;
    }

    .footer__card-title {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .footer__mail {
        font-size: 1.8rem;
    }

    .footer__text {
        line-height: 2rem;
    }

    .social {
        flex-direction: column;
        align-items: center;
    }

    .social__bg {
        width: 7rem;
        height: 7rem;
    }

    .footer__end {
        align-items: center;
    }

    .footer__item-end {
        text-align: center;
        font-size: 1.2rem;
        margin: .5rem;
    }
} 

@media(max-width:350px) {

    .title {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }

    .brands {
        bottom: -25rem;
    }

    .strategy__info {
        margin-top: 60rem;
    }
    .text__italic {
        font-size: 1.6rem;
    }

    .card__people {
        margin-bottom: 15rem;
    }

    .people__img-1 {
        max-width: 6rem;
    }

    .strategy__pepole {
        font-size: 1.2rem;
    }

    .information__card {
        bottom: 2rem;
    }

    .deation__item {
        padding: 0;
    }

    .footer__container {
        padding: 7rem 1rem 1rem;
    }

    .adress__items {
        gap: .5rem;
    }

    .footer__information {
        margin-top: 1rem;
    }
}
@media(max-width:280px) {

    .header {
        padding-left: 1rem;
    }

    .header__items--active {
        font-size: 1.8rem;
        padding: 5rem 2rem;
    }

    .nav {
        flex-direction: column;
        align-items: end;
        gap: 2rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3.2rem;
    }
    .strategy__info {
        padding: 1rem;
    }

    .strategy__title {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .title {
        font-size: 2rem;
    }

    .strategy__text {
        font-size: 1.5rem;
    }

    .text {
     font-size: 1.5rem;   
    }

    .text__italic {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .strategy__right-text {
        padding: 1rem;
    }

    .strategy__pepole {
        gap: .3rem;
    }

    .information__btn {
        margin-bottom: 13rem;
    }

    .card__people {
        margin-bottom: 17rem;
    }

    .footer__card-title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .footer__text { 
        font-size: 1.3rem;
    }
    .footer__mail {
        font-size: 1.5rem;
    }
}
